# Apache Server Configs v2.14.0 | MIT License
# https://github.com/h5bp/server-configs-apache

ErrorDocument 404 /404.html

Options -MultiViews

#fall back to index.html when there is no index.php
DirectoryIndex index.php maint.php index.html

#rewrite www.example.com → example.com
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ %{ENV:PROTO}://%1%{REQUEST_URI} [R=301,L]
</IfModule>

