@import (reference) "~bootstrap/less/mixins.less";
@import (reference)  "~bootstrap/less/variables.less";
@import (reference) "_vars.less";
@import (reference) "_mixins.less";

.normal {
  font-family: "struktur_proregular", sans-serif;
}
.bold {
  font-family: "struktur_probold", sans-serif;
}
.italic {
  font-family: "struktur_proitalic", sans-serif;
}
.bolditalic {
  font-family: "struktur_probold_italic", sans-serif;
}
.heavy {
  font-family: "struktur_proheavy", serif;
}
.bodini {
  font-family: "didonesquebold", sans-serif;
}
.clearfix {
  .clearfix();
}
.no-margin {
  margin: 0px;
}
.fadeOut {
  opacity: 0;
}
.pointer {
  cursor: pointer;
}
.roundBottom {
  border-radius: 0px 0px 2px 2px;
}
.onLoad {
  opacity: 1;
  transition: all .7s ease-in-out;
}
.onLoad.fadeOut {
  opacity: 0;
}
.onLoad.fadeUp {
  max-height: 0px;
  overflow: hidden;
}
.btn-orange {
  background-color: @jhm_orange;
  color: black;
}
.btn {
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
}
.btn-orange:hover {
  background-color: @jhm_orange_dark;
}
.form-group-hidden {
  display: none;
}
.cell {
  float: none;
  display: table-cell;
  vertical-align: middle;
}
.form-group {
  label {
    .bold;
  }
  .optional {
    .normal;
    color: @gray;
    font-weight: normal;
  }
}
.form-control {
  display: block;
}
.has-error label {
  color: @brand-danger;
}
.validation-error {
  display: block;
  margin-top: 5px;
  padding: 2px 10px;
  color: @brand-danger;
}