@jhm_orange: #f58628;
@jhm_grayblue: #83abb3;
@jhm_orange_dark: #b05f27;
@jhm_orange_light: #da8c46;
@black: #262626;
@white: #fff;
@complimentBlue: #4d91cd;
@complimentBlue-light: #6faedf;
@complimentBlue-lighter: #bdccd4;
@darkBrown: #8d482f;
@darkerBrown: #8c472e;
@warmBrown: #a75c26;
@tan: #f0d2bd;