@import '_common.less';

.about {
    margin: 6% auto 0px;
    max-width: 850px;
    background-color: @darkerBrown;
    box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.75);
    &__title {
      position: relative;
      width: 100%;
      min-height: 200px;
      background-repeat: no-repeat;
      background-position: -25px -35px;
      background-image: url('/rsc/img/light-field.jpg');
      background-color: #5ba6b9;

      >h2 {
        color: @gray10;
        text-align: right;
        font-size: 36px;
        font-weight: bold;
        text-shadow: 2px 2px black;
        padding: 0px;
        position: absolute;
        right: 20px;
        bottom: 10px;
      }
    }
   &__description   {
    padding: 15px;
    color: white;
    font-size: 20px;
   }
   @media (max-width: @screen-sm-min) {
            &__description   {
                padding: 30px;
             }
      }
}