@import '_common.less';

.details {
  width: 100%;
  padding: 10px;
  background-color: @warmBrown;
  color: #fff;
  font-size: 19px;

  h2 {
    text-align: center;
    padding: 20px 0px 5px;
  }
  &__content {
    margin: 10px auto;
    font-size: 1em;
  }
}