@import '_common.less';
.icon {
   &__wrapper {
    #jhm.aspect-ratio(90; 72)
  }
    &__blend {
      border: 1px solid @complimentBlue;
      #gradient.vertical(@complimentBlue-light; @complimentBlue-lighter);
    }
    &__stripes {
      width: 100%;
      height: 100%;
      #jhm.vertical-stripes(darken(@complimentBlue-light, 2%), transparent)
    }
    &__content {
      font-size: 2.5vw;
      text-align: left;
      display: table;
      padding-left: 5%;
      width: 100%;
      height: 100%;
      >span {
        display: table-cell;
        vertical-align: bottom;
      }
    }
}