@import '_common.less';

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  #gradient.vertical-three-colors(@jhm_orange; @jhm_grayblue; 70%; @black);
}

main {

  width: 80%;
  margin: 0px auto;
  background-color: #fff;
  overflow: auto;

  h1 {
  	font-size: 20px;
      text-align: center
  }

}