@import '_common.less';

.menu {
  margin: 2% auto 3%;
  padding: 0px;
  display: block;
  text-align: center;

  &__item {
    width: 90px;
    height: 90px;
    display: table;
    border: 1px solid @complimentBlue-dark;
    padding: 5px;
    margin: 0px auto;
    #gradient.vertical(@complimentBlue;  @complimentBlue-light; );

    >span {
        display: table-cell;
        color: @black;
        font-weight: bold;
        font-size: 21px;
        text-align: center;
        vertical-align: bottom;
    }
  }

  &__wrap {
    display: inline-block;
    padding: 10px;
  }
  hr {
      display: none;
  }
  @media(min-width: @screen-sm-min) {
    hr {
      display: inline-block;
      border-color: @black;
      width: 25%;
      position: relative;
      top: -35px;
    }
    &__prefix {
      position: relative;
      margin-right: 10px;
      top: -40px;
      display: inline-block;
      height: 30px;
      border-right: 1px solid @black;
    }
    &__postfix {
      position: relative;
      margin-left: 10px;
      top: -40px;
      display: inline-block;
      height: 30px;
      border-left: 1px solid @black;
    }
  }



  &__item:hover {
    border: 2px solid  @white;
    outline: 1px dotted @white;
    text-decoration: none;
    cursor: pointer;
    >span {
      color: @white;
      text-decoration: none
    }

  }

}