@import '_common.less';

.menu {
  margin: 10px 20px;
  min-height: 300px;
  padding: 0px;

  &__item {
    width: 75px;
    height: 75px;
    max-width: 75px;
    display: table;
    border: 1px solid @complimentBlue-dark;
    padding: 5px;
    margin: 0px auto 15px;
    #gradient.vertical(@complimentBlue;  @complimentBlue-light; );

    >span {
        display: table-cell;
        color: @black;
        font-weight: bold;
        font-size: 21px;
        text-align: center;
        vertical-align: bottom;
    }
  }

@media (max-width: @screen-xs-min) {
   text-align: center;
   margin:  15px 0px;
   min-height: 200px;
   &__wrap {
      display: inline-block;
      text-align: center;
   }
   &__item {
      width: 65px;
      height: 65px;
      display: inline-block;
      margin: 10px 10px 15px 0px;
    }
 }

  &__item:hover {
    border: 2px solid  @white;
    outline: 1px dotted @white;
    text-decoration: none;
    cursor: pointer;
    >span {
      color: @white;
      text-decoration: none
    }

  }

}