@import '_common.less';

.tech {
  margin-top: 40px;
  width: 100%;
  padding: 50px;
  background-color: @tan;
  color: @lightBrown;

  hr {
    max-width: 700px;
    margin: 60px auto;
  }
  &__header {
    margin: 0px 0px 100px;

    &:first-child {
      margin-bottom: 20px;
    }
  }
  p {
    max-width: 500px;
    font-size: 20px;
    text-align: left;
    padding: 5px;
  }
  ul {
    text-align: left;
  }
  &__title {
    .heavy;
    text-align: right;
    font-size: 50px;
    margin: 10px 20px 20px;

    &--lesser {
      font-size: 45px;
    }
    &--image {
      padding-right: 20px;
      padding-top: 10px;
    }
    &--image_wrapper {
      text-align: right;
    }
    &--smaller {
      font-size: 30px;
      padding-top: 15px;
    }
    >span {
      font-size: 25px;
      line-height: 45px;
      display: block;
      .bold;
    }
  }
  &__secondary-list {
    font-size: 16px;

    >li {
      margin-bottom: 4px;
    }
  }
  &__list {
    padding: 0px;
    max-width: 1200px;
    margin: 0px auto 100px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    @media (max-width:@screen-md-min) {
      margin: 0px auto 50px;
    }
  }
  &__modal {
    &--wrapper {
      display: table;
      height: 100%;
      width: 100%;
      pointer-events: none;
    }
    &--center {

      /* To center vertically */
      display: table-cell;
      vertical-align: middle;
      pointer-events: none;
    }
    &--content {

      /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
      width: 800px;
      height: inherit;       /* To center horizontally */
      margin: 0 auto;
      pointer-events: all;
      padding: 0px;
    }
    &--title {
      .bold;
      font-size: 24px;
      padding: 0px;
      margin: 10px 0px;
      text-align: left;
    }
    &--link {
      margin: 15px 0px 25px;
    }
    &--row {
      margin: 0px;

      p {
        font-size: 18px;
        max-width: 450px;
        text-align: justify;
      }
    }
    &--header {
      padding-left: 20px;
      color: @gray60;
    }
    &--body {
      #gradient.vertical(@white, @gray15, 80%, 100%);
      border-bottom: 1px solid @gray25;
    }
    &--footer {
      background-color: @gray10;
      border-radius: 0px 0px 5px 5px;
    }
    &--image, img {
      display: block;
      position: relative;
      top: -25px;
      width: 95%;
      max-height: 210px;
      margin: 10px auto;
    }
  }
  &__item {
    list-style: none;
    display: table;
    height: 270px;
    margin: 15px 20px;
    position: relative;
    font-size: 22px;
    padding: 0px;

    &--wrapper {
      display: table-cell;
      vertical-align: middle;
    }
    &--image, img {
      display: block;
      width: 75%;
      max-height: 210px;
      margin: 10px auto;
    }
    &--label {
      display: block;
      position: absolute;
      bottom: 3px;
      text-align: center;
      width: 100%;
      .bold;
    }
  }
  &__arrow {
    text-align: center;
    width: 100%;
    padding: 1px;
    margin: 15px 0px;
    display: block;
    float: none;

    >a.arrow {
      color: @warmBrown;
      font-size: 40px;
      padding: 1px;
    }
  }
}
@media (max-width:@screen-md-min) {
  .tech {
    padding: 50px 0 0 0;

    &__item {
      margin: 10px 0px;
    }
    &__modal {
      &--image, img {
        top: 0px;
        max-width: 65%;
      }
      &--title {
        text-align: center;
      }
      &--content {
        width: 100%;
      }
    }
    &__list {
      border-top: none;
      border-bottom: none;
    }
    &__title, &__header {
      text-align: center;

      &--image {
        padding: 20px 0px;
      }
      &--image_wrapper {
        text-align: center;
      }
    }
  }
}