@import '_common.less';

.titleView {
   #gradient.vertical(@jhm_orange_dark; @jhm_orange; );
   width: 100%;
   padding-top: 40px;
   padding-bottom: 40px;
   overflow: hidden;
   &__iconContainer {
    margin-top: 15px;
   }

   &__logo {
      >div {
        width: 50%;
        //max-width: 250px;
        margin: 0px auto;
      }
   }
}