@import '_common.less';

.titleView {
   #gradient.vertical(@jhm_orange_dark; @jhm_orange; );
   width: 100%;
   padding-top: 40px;
   padding-bottom: 40px;
   overflow: hidden;
   border-radius: 0px 0px 25px 25px;
   box-shadow:  0px 3px 6px 0px rgba(50, 50, 50, 0.6);

}